<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/styles.css" rel="stylesheet"/>
</head>
<body>
<h4>input page</h4>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form id="inputForm" action="/readBarcode" method="post">
                        <div class="form-floating">
                            <input class="form-control" name="barcode" id="barcode" type="text" placeholder=" " autofocus />
                            <label for="barcode">바코드입력</label>
                        </div>
                        <!--
                        <div class="form-floating">
                            <input class="form-control" name="location" id="location" type="location" placeholder=" " />
                            <label for="location">Location</label>
                        </div>
                        -->
                        <br />
                        <button class="btn btn-primary text-uppercase" id="loginButton" type="submit" style="float: right">입력</button>
                    </form>
                </div>
            </div>
        </div>

        <br/>
        <hr/>
        <br/>
        <!-- display input barcodes list -->
        <table style="border: 1px solid #BA8CB5">
            <thead>
            <tr>
                <th style="border: 1px solid #BA8CB5">ID</th>
                <th style="border: 1px solid #BA8CB5">바코드</th>
                <th COLSPAN="2" style="border: 1px solid #BA8CB5">등록 시간</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d[0] }} </td>
                    <td>{{ d[1] }} </td>
                    <td>{{ d[2] }} </td>
                    <td>{{ d[3] }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</main>
</body>
</html>