<!DOCTYPE html>
<html>
<head>
    <title>재고 관리 프로그램</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">


    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- jquery 버전 충돌 방지-->
    <script>
        var newJquery = $.noConflict();
    </script>

    <!--table sorter-->
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>

    <!--datepicker-->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>

    <script src="/static/js/javascript.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="dailylist.html">SJA.inc</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="dailylist.html"><span>메인</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="inventory.html"><span>재고 확인</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="report.html"><span>월별 확인</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span>바코드 입력</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-current-page" href="inventory-test.html"><span>TestPage</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--datepicker-->
<form class="datepicker-calendar-container">
    <div class="d-flex flex-wrap py-2 m-4">
        <div class="input-group date datepicker-calendar">
            <input type="text" class="form-control" value="" id="startDatepicker" autocomplete='off'>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <span>~</span>
        <div class="input-group date datepicker-calendar">
            <input type="text" class="form-control" value="" id="endDatepicker" autocomplete='off'>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <button type="submit" class="datepicker-btn" onclick="return CheckDate()">예약</button>
    </div>
</form>
<div style="width: 85vw; margin: 0 auto;">
    <table class="sort-test-table table-bordered table-striped table-hover" id="myTable">
        <thead>
        <tr>
            <th>#</th>
            <th>기종</th>
            <th>MIP</th>
            <th>ENG 1</th>
            <th> ENG 2</th>
            <th> ENG 3</th>
            <th> ENG 4</th>
            <th> 입고일</th>
            <th>포장일</th>
            <th>위치</th>
            <th>불출일</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 30px;">1</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>불출</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>고장</td>
        </tr>
        <tr>
            <td scope="row">3</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.03.23</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">4</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.02.04</td>
            <td>R-20-15</td>
            <td></td>
            <td>고장</td>
        </tr>
        <tr>
            <td scope="row">5</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400004</td>
            <td>400005</td>
            <td>400006</td>
            <td>400007</td>
            <td>22.07.28</td>
            <td>22.05.05</td>
            <td>R-20-15</td>
            <td></td>
            <td>정상</td>
        </tr>
        <tr>
            <td scope="row">6</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.05.14</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">7</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.04.06</td>
            <td>R-20-15</td>
            <td></td>
            <td>정상</td>
        </tr>
        <tr>
            <td scope="row">8</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>정상</td>
        </tr>
        <tr>
            <td scope="row">9</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">10</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>불출</td>
        </tr>
        <tr>
            <td scope="row">11</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">12</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td>13</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.07.21</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">14</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.07.20</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">15</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.06.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">16</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>22.05.22</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">17</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>21.07.28</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">18</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400008</td>
            <td>400009</td>
            <td>400010</td>
            <td>400011</td>
            <td>22.07.28</td>
            <td>21.11.22</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>
        <tr>
            <td scope="row">19</td>
            <td>카파</td>
            <td>R18K</td>
            <td>400000</td>
            <td>400001</td>
            <td>400002</td>
            <td>400003</td>
            <td>22.07.28</td>
            <td>22.08.03</td>
            <td>R-20-15</td>
            <td></td>
            <td>Test</td>
        </tr>

        </tbody>
    </table>
</div>

<div class="m-4">
    <div class="test-table-container">
        <div class="test-table-wrapper">
            <table class-="test-table">
                <thead class="test-thead">
                <tr>
                    <th class="fixed-header" scope="col" style="width: 40px;" onclick="sortTable(0)">#</th>
                    <th class="fixed-header" scope="col" style="width: 72px;" onclick="sortTable(1)">기종</th>
                    <th scope="col" style="width: 72px;" onclick="sortTable(2)">MIP</th>
                    <th scope="col" style="width: 90px;" onclick="sortTable(3)">ENG 1</th>
                    <th scope="col" style="width: 90px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                ENG 2
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 90px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                ENG 3
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 90px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                ENG 4
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 100px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                입고일
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 100px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                포장일
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 100px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                위치
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 100px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                불출일
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col" style="width: 100px;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                비고
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <table class="test-tbody">
            <tbody style="font-size: 12px">
            <tr>
                <td style="width: 40px;"></td>
                <td style="width: 72px;"></td>
                <td style="width: 72px;"></td>
                <td style="width: 90px;"></td>
                <td style="width: 90px;"></td>
                <td style="width: 90px;"></td>
                <td style="width: 90px;"></td>
                <td style="width: 100px;"></td>
                <td style="width: 100px;"></td>
                <td style="width: 100px;"></td>
                <td style="width: 100px;"></td>
                <td style="width: 100px;"></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400004</td>
                <td>400005</td>
                <td>400006</td>
                <td>400007</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400008</td>
                <td>400009</td>
                <td>400010</td>
                <td>400011</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>카파</td>
                <td>R18K</td>
                <td>400000</td>
                <td>400001</td>
                <td>400002</td>
                <td>400003</td>
                <td>22.07.28</td>
                <td>22.07.28</td>
                <td>R-20-15</td>
                <td></td>
                <td>Test</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<script type='text/javascript'>
    $(function () {
        $('.input-group.date').datepicker({
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: "kr",
            endDate: '0d',
            disableTouchKeyboard: false
        });
    });
</script>
<script type='text/javascript'>
    newJquery(document).ready(function () {
        newJquery("#myTable").tablesorter();
    });
</script>


</body>
</html>
