<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>바코드스캔</title>

    <link href="/static/css/style.css" rel="stylesheet"/>

</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[-1]}}");
        </script>
    {% endif %}
    {% endwith %}

<main>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-lg-5 text-black">

                                <form method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">바코드 입력</span>
                                    </div>
                                    <!--<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Text</h5>-->

                                    <div class="form-outline mb-4">
                                        <textarea id="barcode" name="barcode" rows="30" cols="85"> </textarea>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <label class="form-label" for="barcode">커서를 올리고 바코드스캔을 시작해주세요.</label>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">저장</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>