<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login-Demo</title>

    <link href="/static/css/style.css" rel="stylesheet"/>

</head>
<body>
<!--login.html 에서 nav bar 제거 및 login section 높이 수정-->
<main>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-lg-5 text-black">

                                <form action="/releaseEngine" method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">바코드 입력</span>
                                    </div>
                                    <!--<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Text</h5>-->
                                    <div class="mb-3">
                                        <input type="text" style="height: 40px" name="barcode" id="barcode" class="form-control form-control-lg" placeholder="바코드를 스캔해주세요." autofocus/>
                                        <label class="form-label" for="barcode">바코드를 스캔해주세요.</label>
                                    </div>

                                    <!--<a class="small text-muted" href="#!">abc</a>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">출고</button>
                                    </div>-->
                                </form>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button" onclick="location.href='/main'">홈화면</button>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!--input queue list-->
                    <div>
                        <table id="barcodetable" style="border: 1px solid #4f5050">
                            <tbody>
                                {% for i in ib %}
                                    <tr>
                                    {% for j in i %}
                                        <td style="width:200px; border: 1px solid #4f5050"> {{ j }} </td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    {% for r in rb %}
                                    <td style="width:200px; border: 1px solid #4f5050">{{ r }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>