<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구조 연습</title>
    <style>
        * {
            font-size: 14px;
            font-family: Sans-Serif;
        }

        /* header 배경 색, 높이 설정 */
        header {
            background: lightgray;
            height: 50px;
        }

        main {
            background-color: antiquewhite;
            height: 700px;
        }

        footer {
            background: lightgray;
            height: 50px;
        }

        /*내비게이션 바 */
        .navbar li {
            display: inline;
            padding: 10px;
        }

        div {
            width: 100%;
            height: 100%;
            border: 1px solid #000;
        }

        div.left {
            width: 50%;
            float: left;
            box-sizing: border-box;
            background: white;
        }

        div.right {
            width: 50%;
            float: right;
            box-sizing: border-box;
            background: white;
        }
        div.barcode-write{
            height:150px;
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><a href="#">menu1</a></li>
            <li><a href="#">menu2</a></li>
            <li><a href="#">menu3</a></li>
            <li><a href="#">menu4</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="barcode-write">
        <textarea style="height: 80%; width:600px;" name="barcode" id="barcode" class="form-control form-control-lg" placeholder="바코드를 입력해 주세요." autofocus></textarea>
        <br>
        <button>확인</button>
    </div>
    <div class="table-page">
        <!--main 좌측 페이지-->
        <div class="left" style="overflow:auto; width:50%; height:100%;">
            <span>금일 입고 현황입니다</span>
            <table border="1" class="receive-table" width="100%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>기종</th>
                    <th>MIP</th>
                    <th>ENG1</th>
                    <th>ENG2</th>
                    <th>ENG3</th>
                    <th>ENG4</th>
                    <th>입고일</th>
                    <th>포장일</th>
                    <th>LOCATION</th>
                    <th>불출일</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462919</td>
                    <td>462950</td>
                    <td>462953</td>
                    <td>462951</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-17</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462947</td>
                    <td>462949</td>
                    <td>462906</td>
                    <td>462887</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-18</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462905</td>
                    <td>462907</td>
                    <td>462909</td>
                    <td>462898</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-19</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462939</td>
                    <td>462925</td>
                    <td>462941</td>
                    <td>462943</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-20</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462937</td>
                    <td>462940</td>
                    <td>462945</td>
                    <td>462938</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-20-01</td>
                    <td>19-7-4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370298</td>
                    <td>370297</td>
                    <td>370300</td>
                    <td>370299</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-14</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
        <!--main 우측 페이지-->
        <div class="right" style="overflow:auto;width:50%;height:100%;">
            <span>금일 출고 현황입니다</span>
            <table border="1" class="release-table" width="100%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>기종</th>
                    <th>MIP</th>
                    <th>ENG1</th>
                    <th>ENG2</th>
                    <th>ENG3</th>
                    <th>ENG4</th>
                    <th>입고일</th>
                    <th>포장일</th>
                    <th>LOCATION</th>
                    <th>불출일</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462919</td>
                    <td>462950</td>
                    <td>462953</td>
                    <td>462951</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-17</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462947</td>
                    <td>462949</td>
                    <td>462906</td>
                    <td>462887</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-18</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462905</td>
                    <td>462907</td>
                    <td>462909</td>
                    <td>462898</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-19</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462939</td>
                    <td>462925</td>
                    <td>462941</td>
                    <td>462943</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-31-20</td>
                    <td>19-6-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462937</td>
                    <td>462940</td>
                    <td>462945</td>
                    <td>462938</td>
                    <td>19.1.24</td>
                    <td>19.1.24</td>
                    <td>L-20-01</td>
                    <td>19-7-4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370298</td>
                    <td>370297</td>
                    <td>370300</td>
                    <td>370299</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-14</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td>19-1-25</td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>


</body>
</html>