<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구조 연습</title>
    <style>
        * {
            font-size: 14px;
            font-family: Sans-Serif;
        }

        /* header 배경 색, 높이 설정 */
        header {
            background: lightgray;
            height: 50px;
        }

        main {
            background-color: antiquewhite;
            height: 850px;
        }

        /*내비게이션 바 */
        .navbar li {
            display: inline;
            padding: 10px;
        }
        div.current-stock{
            height : 400px;
        }

        div.table-page {
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            padding : 0;
        }

        div.left {
            float : left;
        }

        div.right {
            float: right;
        }

        div.left,
        div.right{
            width : 50%;
            box-sizing: border-box;
            background: white;
            padding : 20px 20px 20px 20px;

        }
        table{
            border-collapse: collapse;
            border : 2px solid;
        }

        table.stock-table{
            width : 600px;
            height : 200px;
            text-align: center;
        }
        td,th{
            border : 1px solid;
        }
        /* table 3번째 줄 스타일 설정, 특정 td에 따로 값을 못주겠음*/
        tr:nth-child(3){
            background-color : red;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><a href="#">nav1</a></li>
            <li><a href="#">nav2</a></li>
            <li><a href="#">nav3</a></li>
            <li><a href="#">도움말</a></li>
        </ul>
    </nav>
</header>
<main>
    <!--아마 삭제할듯-->
    <div class="current-stock">
        금일 재고 현황입니다
        <table class="stock-table">
            <thead>
                <tr>
                    <th>엔진사양</th>
                    <th>구분</th>
                    <th>이월재고</th>
                    <th>재고</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3">
                    <select name="" id="">
                        <option value="">감마</option>
                        <option value="">베타</option>
                        <option value="">오메가</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>입고계</td>
                <td>1200</td>
                <td>1600</td>
            </tr>
            <tr>
                <td>불출계</td>
                <td>800</td>
                <td>100</td>
            </tr>
            <tr>
                <td></td>
                <td>재고계</td>
                <td></td>
                <td>1800</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--main 내 테이블 2개를 넣을 div-->
    <div class="table-page">
        <!--main 좌측 페이지-->
        <div class="left" style="overflow:auto; width:50%; height:40%;">
            <span>금일 입고 현황입니다</span>
            <!-- 입고 테이블-->
            <table class="receive-table" width="100%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>
                        <select name="machine-type" id="">
                            <option value="">카파</option>
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">D</option>
                        </select>
                    </th>
                    <th>
                        <select name="inherence-code" id="">
                            <option value="">R18K</option>
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">D</option>
                        </select>
                    </th>
                    <th>ENG1</th>
                    <th>ENG2</th>
                    <th>ENG3</th>
                    <th>ENG4</th>
                    <th>입고일<input type="date"></th>
                    <th>LOCATION</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462919</td>
                    <td>462950</td>
                    <td>462953</td>
                    <td>462951</td>
                    <td>19.1.24</td>
                    <td>L-31-17</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462947</td>
                    <td>462949</td>
                    <td>462906</td>
                    <td>462887</td>
                    <td>19.1.24</td>
                    <td>L-31-18</td>
                    <td></td>
                </tr>
                <tr id="error">
                    <td>3</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462905</td>
                    <td>462907</td>
                    <td>462909</td>
                    <td>462898</td>
                    <td>19.1.24</td>
                    <td>L-31-19</td>
                    <td>ERROR(출고기한 임박)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462939</td>
                    <td>462925</td>
                    <td>462941</td>
                    <td>462943</td>
                    <td>19.1.24</td>
                    <td>L-31-20</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462937</td>
                    <td>462940</td>
                    <td>462945</td>
                    <td>462938</td>
                    <td>19.1.24</td>
                    <td>L-20-01</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370298</td>
                    <td>370297</td>
                    <td>370300</td>
                    <td>370299</td>
                    <td>18.6.19</td>
                    <td>S-16-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--main 우측 페이지-->
        <div class="right" style="overflow:auto;width:50%;height:40%;">
            <span>금일 출고 현황입니다</span>
            <!--출고 테이블-->
            <table class="release-table" width="100%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>
                        <select name="machine-type" id="">
                            <option value="">카파</option>
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">D</option>
                        </select>
                    </th>
                    <th>
                        <select name="inherence-code" id="">
                            <option value="">R18K</option>
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">D</option>
                        </select>
                    </th>
                    <th>ENG1</th>
                    <th>ENG2</th>
                    <th>ENG3</th>
                    <th>ENG4</th>
                    <th>출고일<input type="date"></th>
                    <th>LOCATION</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462919</td>
                    <td>462950</td>
                    <td>462953</td>
                    <td>462951</td>
                    <td>19.1.24</td>
                    <td>L-31-17</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462947</td>
                    <td>462949</td>
                    <td>462906</td>
                    <td>462887</td>
                    <td>19.1.24</td>
                    <td>L-31-18</td>
                    <td></td>
                </tr>
                <tr class="error">
                    <td>3</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462905</td>
                    <td>462907</td>
                    <td>462909</td>
                    <td>462898</td>
                    <td>19.1.24</td>
                    <td>L-31-19</td>
                    <td>ERROR(엔진 불량)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>카파</td>
                    <td>r18k</td>
                    <td>462939</td>
                    <td>462925</td>
                    <td>462941</td>
                    <td>462943</td>
                    <td>19.1.24</td>
                    <td>L-31-20</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>462937</td>
                    <td>462940</td>
                    <td>462945</td>
                    <td>462938</td>
                    <td>19.1.24</td>
                    <td>L-20-01</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370298</td>
                    <td>370297</td>
                    <td>370300</td>
                    <td>370299</td>
                    <td>18.6.19</td>
                    <td>S-16-14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>카파</td>
                    <td>R18K</td>
                    <td>370303</td>
                    <td>370302</td>
                    <td>370301</td>
                    <td>370304</td>
                    <td>18.6.19</td>
                    <td>S-16-15</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>